# Local
APP_ENV=local
APP_BASE_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace-with-a-long-random-secret
DATABASE_URL=postgresql://user:password@host:5432/database?sslmode=require
DIRECT_URL=

# STAGE
# APP_ENV=stage
# APP_BASE_URL=https://your-stage-domain.vercel.app
# NEXTAUTH_URL=https://your-stage-domain.vercel.app
# NEXTAUTH_SECRET=replace-with-a-long-random-secret
# DATABASE_URL=postgresql://user:password@host:5432/database?sslmode=require
# DIRECT_URL=

# PROD
# APP_ENV=prod
# APP_BASE_URL=https://clubmanager.fcallschwil.ch
# NEXTAUTH_URL=https://clubmanager.fcallschwil.ch
# NEXTAUTH_SECRET=replace-with-a-long-random-secret
# DATABASE_URL=postgresql://user:password@host:5432/database?sslmode=require
# DIRECT_URL=